krack-bootstrap/dist/*.zip
krack-bootstrap/dist/krack_completions.py
krack-bootstrap/node_modules
krack-bootstrap/docs/fonts/ProximaNova-Light-webfont.*
krack-bootstrap/docs/fonts/ProximaNova-Reg-webfont.*
krack-bootstrap/showcase
krack-bootstrap/themes/themes.json
krack-bootstrap/themes/custom
*~
*.diff
*.patch
.DS_Store
.project
.settings
.idea
*/**/node_modules
*/**/.idea
*/**/bower_components