<nav class="kr-navbar-alt">
    <div class="">
        <ul class="kr-navbar-nav kr-hidden-small">
            <li>
                <a href="#panel" class="kr-navbar-brand kr-hidden-small"><span class="kr-icon-doctor"></span>Painel Principal</a>
            </li>
            <li>
                <a href=""><span class="kr-icon-tasks"></span> GED</a>
            </li>
            <li>
                <a href=""><span class="kr-icon-users"></span> Administrativo</a>
            </li>
            <li>
                <a href=""><span class="kr-icon-square"></span> Painel Dinamico</a>
            </li>
        </ul>
    </div>
</nav>
<div class="kr-grid" data-kr-grid-margin>
    <div class="kr-width-medium-2-10">
        <div class="kr-panel kr-panel-box">
            <h3 class="kr-panel-title">Painel Principal</h3>
            <ul class="kr-nav kr-nav-side kr-nav-parent-icon" data-kr-nav="{multiple:true}">
                <li class="kr-parent">
                    <a href="#">Item de Menu com Submenu</a>
                    <ul class="kr-nav-sub">
                        <li><a href="#">Sub Item de Menu</a></li>
                        <li><a href="#">Sub item de Menu</a></li>
                    </ul>
                </li>
                <li class="kr-parent">
                    <a href="#">Item de Menu com Submenu</a>
                    <ul class="kr-nav-sub">
                        <li><a href="#">Sub Item de Menu</a></li>
                        <li><a href="#">Sub item de Menu</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Item de Menu Simples</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="kr-width-medium-8-10">
        <div class="kr-sortable kr-grid" data-kr-grid-margin data-kr-sortable>
            <div class="kr-width-medium-1-3">
                <div class="kr-panel kr-panel-box">
                    <h3 class="kr-panel-title">Titulo Painel Posição 1</h3>

                    <p>Conteúdo do painel 1</p>
                </div>
            </div>
            <div class="kr-width-medium-1-3">
                <div class="kr-panel kr-panel-box">
                    <h3 class="kr-panel-title">Titulo Painel Posição 2</h3>

                    <p>Conteúdo do painel 2</p>
                </div>
            </div>
            <div class="kr-width-medium-1-3">
                <div class="kr-panel kr-panel-box">
                    <h3 class="kr-panel-title">Titulo Painel Posição 3</h3>

                    <p>Conteúdo do painel 3</p>
                </div>
            </div>

            <div class="kr-width-medium-1-2">
                <div class="kr-panel kr-panel-box">
                    <h3 class="kr-panel-title">Titulo Painel Posição 4</h3>

                    <p>Conteúdo do painel 4</p>
                </div>
            </div>
            <div class="kr-width-medium-1-2">
                <div class="kr-panel kr-panel-box">
                    <h3 class="kr-panel-title">Titulo Painel Posição 5</h3>

                    <p>Conteúdo do painel 5</p>
                </div>
            </div>

        </div>
    </div>
</div>
