<div class="kr-vertical-align kr-text-center kr-height-1-1">
    <div class="kr-vertical-align-middle" style="width: 300px;margin-top:50px;">

        <img class="kr-margin-bottom" width="140" height="120" src="images/sao-caetano-do-sul.png" alt="">

        <form class="kr-panel kr-panel-box kr-form">
            <div class="kr-form-row">
                <input class="kr-col-1-1 kr-form-large" type="text" placeholder="Nome de Usuário">
            </div>
            <div class="kr-form-row">
                <input class="kr-col-1-1 kr-form-large" type="text" placeholder="Senha">
            </div>
            <div class="kr-form-row">
                <a class="kr-col-1-1 kr-button kr-button-primary kr-button-large" href="#/panel">Entrar</a>
            </div>
            <div class="kr-form-row kr-text-small">
                <label class="kr-float-left"><input type="checkbox"> Lembrar</label>
                <a class="kr-float-right kr-link kr-link-muted" href="#">Esqueci a senha?</a>
            </div>
        </form>

    </div>
</div>